{% extends "carmod/base.html" %}

{% block content %}
<h2>{{ car.make }} - {{ car.car_model }} <a href="{% url 'car_edit' pk=car.pk %}">(edit)</a><a href="{% url 'car_delete' pk=car.pk %}"> (delete)</a></h2>
<h3>Year:  {{ car.year }}</h3>
<h3>Trim:  {{ car.trim }}</h3>
<br>
<h2>Categories: <a href="{% url 'category_create' %}">(+)</a></h2>
<ul>
  {% for category in car.categorys.all %}
  <li>
    <h3><a href="{% url 'category_detail' pk=category.pk %}">{{ category.name }}</a><a href="{% url 'category_edit' pk=category.pk %}">(edit)</a><a href="{% url 'category_delete' pk=category.pk %}"> (delete)</a></h3>
    <h4>Parts: <a href="{% url 'part_create' %}">(+)</a></h4>
    <ul>
        {% for part in category.parts.all %}
        <li>
            <a href="{% url 'part_detail' pk=part.pk %}">{{ part.part_name }} </a><a href="{% url 'part_edit' pk=part.pk %}"> (edit)</a><a href="{% url 'part_delete' pk=part.pk %}"> (delete)</a>
        </li>
        {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>


{% endblock %}